
:root {
    --primary-color: #D7B131; 
    --secondary-color: #27A1CA;
    --accent1-color: #050605;
    --accent2-color: #E5FCFE;
    --heading-font: "Courgette", cursive;
    --body-font: "Lato", sans-serif;
}

header {
    background-color: var(--primary-color);
    color : var(--accent2-color);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
}

header img {
    border: outset #27A1CA 5px;
    justify-self: center;
    
}

nav {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
}

header nav a {
    padding: 4px;
    border: outset var(--secondary-color) .20em;
    justify-content: center;
    text-decoration: none;
    color:var(--accent1-color);
    background-color: white;
    font-weight: bold;
    font-family: var(--heading-font);
    font-size: 1em;
    width: 5.8em;
    
    
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--body-font);
    color: var(--accent1-color);
}
header, main, footer {
    max-width: 840px;
    margin: 0 auto;
}

h1, h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    text-align: center;
}

nav, p, section, article {
    margin: 16px;
    padding: 8px;
}


.socialmedia a {
    text-decoration: none;
}

.hero {
    position: relative;
    height: 27em;
    
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}
h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent2-color);
    color: var(--accent1-color);
}

.hero article {
    position: absolute;
    background-color: var(--primary-color);
    opacity: .85;
    width: 100%;
    height: auto;
    top: 16.31em;
    left: -1em;
    color: var(--accent1-color);
    padding-bottom: 3px;
    font-size: 1em;
}


.hero article img {
    float: right;
    height: 7.5em;
    width: auto;
    padding: 2px;
    border: outset var(--secondary-color) 4px;
    opacity: 1;
    margin: 0 auto;
}

#history {
    display: grid;
    grid-template-rows: 23% 1fr;
    margin: 2.5em auto;
    align-items: center;

}
 
#history h2 {
    text-align: center;
}

#adventure {
    margin: 0 auto;
    
    display: grid;
    grid-template-rows: 23% 77%;  
    border: solid var(--secondary-color);
}

#adventure ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    list-style: none;
    align-items: center;
    justify-content: space-around;
}

#adventure img {
    width: 93%;
    height: auto;
    border:outset var(--secondary-color);
    margin: 0 auto;
}

figcaption {
    font-size: .60em;
    text-align: center;
    margin-bottom: 1.5em;
}

footer {
    display: grid;
    grid-template-columns: 75% 25%;
    align-items: center;
}

footer p {
    grid-column: 1/2;
    justify-self: end;
    padding-right: 0;
}
footer nav {
    grid-column: 2/3;
    justify-self: center;
}

.socialmedia {
    display: flex;
    flex-flow: row wrap;
    gap: .5em;
    justify-content: center;
}

/* Very Nice Learning more and reviewing what I had learned. */