* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* The asterisk selector is the universal selector. | The declarations in this selector changes all elements
    in the CSS and HTML */
}

:root {
    --uniform-color: #008E97;
}

body {
    background-color: white;
}

nav {
    background-color: var(--uniform-color);
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

nav a {
    color: white;
    display: block;
    padding: 10px;
    font-size: 1.3rem;
    font-weight: 400;
}

h1 {
    color: #555358;
    border-bottom: solid #F58220;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    float: right;
    margin-top: 1em;
    margin-right: 1.1em;    
}

header, footer, .grid {
    max-width: 840px;
    margin: 0 auto;
}

.grid {
    display: grid;
    align-items: center;
}
main {
    grid-column: 2/3;
    position: relative;
    margin: 0;
    border: 1px;
    padding: 1em;    
}

/* Parent element position: relative|Child element position: absolute */
aside {
    grid-column: 1/2;
    grid-row: 1/2;
    width: 212px;
    text-align: center;
    position: relative;    
}

aside h2 {
    position: absolute;
    bottom: 159px;
    left: 44px;
}

aside img {
    width: 200px;
    margin: 3px;
    
}

main p {padding: 0;
    margin-top: 1em;
}

footer {
    margin-top: 2rem;
    border-top: 1px groove steelblue;
    text-align: center;
}

ul {
    margin-top: 1em;
}

.box {
    margin: 1rem;
    padding: 1rem;
    border: 1px groove lightsteelblue;
    background-color: azure;
    padding: 2px;
    color: navy;
}
/* Class and ID Selectors
A class selector starts with a dot (.) and targets elements with a specific class.
An ID selector starts with a hash (#) and targets an element with a specific ID.
You use them to apply CSS styles to selected HTML elements.
*/