nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color:darkblue;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

main {
    max-width: 900px;
}

aside {
    width: 300px;
    margin: 10px;
    border: 4px groove lightsteelblue;
    background-color: azure;
    padding: 4px;
    color: navy;
    text-align: center;
}   

aside img {
    width: 200px;
    display: block;
    margin: auto;
}

p {padding: 0;}

footer {
    margin-top: 2rem;
    border-top: 2px groove steelblue;
    text-align: center;
}